<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Real Estate Home Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <main>
        <div th:replace="fragments/searchForm :: searchForm"></div>
        <video autoplay muted loop id="myVideo" width="100%" height="100%">
            <source
                src="https://cdn.pixabay.com/vimeo/706323929/house-115979.mp4?width=640&hash=5963b2a3c0e054249944094acd9a8dbe7ffb79c4"
                type="video/mp4">
        </video>
    </main>

    <footer class="footerContainer">
       
            
        <div id="footerContent">
            <h1>We sell homes</h1>
            <p id="or-else">Search some homes here please, or else...</p>
            <a id="continueButton" href="/login">Continue</a>
        </div>
        

    
    </footer>
</body>

</html>