<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css">
    <title>Title</title>
</head>

<body>
    <div id="html">
        <div id="headerBackground2" th:fragment="header">
            <div id="headerBackground1">
                <div class="header-container">
                    <div th:replace="fragments/searchForm :: searchForm"></div>
                    <div id="articleContainer">
            <a th:href="@{/}">Home</a>
            <a th:href="@{/listings/show}">Listings</a>
            <a th:href="@{/agents}">Agents</a>
            <a th:href="@{/login}">Login</a>
        </div>
        </div>    
    </div>
    </div>
    <div id="login-container">
        <div id="card-body" class="card my-4">
            <div id="card-img">
                <img id="cardImage" style="width:400px;height:400px" class="card-img-top" src="https://unsplash.it/600/400" alt="Property Image">
                <img id="cardImage" style="width:400px;height:400px" class="card-img-top" src="https://unsplash.it/600/400" alt="Property Image">
                <img id="cardImage" style="width:400px;height:400px" class="card-img-top" src="https://unsplash.it/600/400" alt="Property Image">
            </div>
            <div class="detailsCard">
                <h5 class="card-title" th:text="${listing.title}"></h5>
                <p id="details-address"><strong>Address:</strong> <span th:text="${listing.address}"></span></p>
                <br></br>


                <div id="all-card-text">
                    <div class="listingDetailsOf3">
                    <p class="card-text"><strong>Bedrooms:</strong> <span th:text="${listing.bedrooms}"></span>
                    </p>
                    
                    <p class="card-text"><strong>Bathrooms:</strong> <span
                            th:text="${listing.bathrooms}"></span></p>
                    
                    <p class="card-text"><strong>Square Feet:</strong> <span
                            th:text="${listing.squareFeet}"></span></p>
                        </div>
                        <div>
                    <p class="card-text"><strong>List Price:</strong> $<span
                            th:text="${listing.listPrice}"></span></p>
                    
                    <p class="card-text"><strong>Zip Code:</strong> <span th:text="${listing.zipCode}"></span>
                    </p>
                   
                    <p class="card-text"><strong>Year Built:</strong> <span
                            th:text="${listing.yearBuilt}"></span></p>
                        </div>
                        <div>
                    <p class="card-text"><strong>Garage:</strong> <span th:text="${listing.garage}"></span></p>
                    
                    <p class="card-text"><strong>Has Pool:</strong> <span
                            th:text="${listing.hasPool} ? 'Yes' : 'No'"></span></p>
                    
                    <p class="card-text"><strong>Active:</strong> <span
                            th:text="${listing.active} ? 'Yes' : 'No'"></span></p>
                        </div>
                </div>
            </div>



            </div>
        </div>
</body>

</html>