<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Listings</title>
</head>
<body>

<form action="/listings/search" method="get">
    <label for="query">Search:</label>
    <input type="text" id="query" name="query" placeholder="Enter your city, or listing ID...">
    <input type="submit" value="Search">
</form>


</body>
</html>