<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Sign Up!</h1>
<form action="/signUp" method="POST">
    <label for="username">Username</label>
    <input id="username" type="text" name="userName" required>

    <label for="password">Password</label>
    <input id="password" name="password" type="password" required>

    <label for="firstName">First Name</label>
    <input id="firstName" name="firstName" type="text" required>

    <label for="lastName">Last Name</label>
    <input id="lastName" name="lastName" type="text" required>

<!--    <label for="isAgent">Are you an agent?</label>-->
<!--    <input id="isAgent" name="isAgent" type="checkbox" th:checked="${user.isAgent}">-->

    <input type="submit" value="Sign Up">
</form>
</body>
</html>